.card-body {
  height: 300px;
  margin: 25px;
  border: 4px solid #b2b2b2;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.8s;
}

.card-body:hover {
  border: 4px solid white;
  transform: scale(1.2);
}
